@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import 'fumadocs-openapi/css/preset.css';

:root {
  --color-fd-background: #121212;
  --color-fd-foreground: #e6e6e6;
  --color-fd-primary: #a058ff;
  --color-fd-accent: #ffffff1a;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-card: #121212;
  --color-fd-card-foreground: #e6e6e6;
  --color-fd-muted: #d1cfc00b;
  --color-fd-muted-foreground: #a6a6a6;
  --color-fd-secondary: #1a1a1a;
  --color-fd-secondary-foreground: #a6a6a6;
  --color-fd-border: #ffffff1a;

  --radius-sm: 0;
  --radius-md: 0;
  --radius-lg: 0;
  --radius-xl: 0;
  --radius-2xl: 0;
}

aside#nd-sidebar {
  width: calc(var(--fd-sidebar-width)) !important;
}

@layer utilities {
  .prose {
    & a.flex.flex-col.gap-1\.5.p-2.rounded-lg.text-sm {
      background-color: var(--color-fd-card);
      transition: background-color 0.2s ease;
      border: 1px solid var(--color-fd-border);
      text-decoration: none;

      p {
        margin: 0;
      }
    }

    & a.flex.flex-col.gap-1\.5.p-2.rounded-lg.text-sm:hover {
      background-color: color-mix(
        in oklab,
        var(--color-fd-accent) 80%,
        transparent
      );
    }
  }
}

.branding {
  display: flex;
  gap: 8px;
  align-items: center;
}
