@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --color-fd-background: #121212;
  --color-fd-foreground: #e6e6e6;
  --color-fd-primary: #a058ff;
  --color-fd-accent: #ffffff1a;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-card: #121212;
  --color-fd-card-foreground: #e6e6e6;
  --color-fd-muted: #d1cfc00b;
  --color-fd-muted-foreground: #a6a6a6;
  --color-fd-secondary: #1a1a1a;
  --color-fd-secondary-foreground: #a6a6a6;
  --color-fd-border: #ffffff1a;
}

aside#nd-sidebar {
  width: calc(var(--fd-sidebar-width)) !important;
}
